
body{
    font-family: Arial;
    font-size: 30px ;
    font-weight: bold;
    display:flex;
    gap:50px;
    padding:20px;
    flex-direction: column;
    background-color: #1E1E1E;
    
}



.boite{
    width:100px;
    height:50px;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:grab;
    gap:10px;
    margin-top:10px;
}

#b1{background:red;}
#b2{background:green;}
#b3{background:blue;}

.zone{
    width:120px;
    height:80px;
    border:2px dashed black;
    margin-bottom:15px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.espacement{
    margin-top:0px;

}

.ecart{
    
    margin-left:1000px;
}

h1{
    text-align:center;
    color:white;
    
}
.container{
    padding-top:-200px;
    background-image: url('images/fond.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
