
body{
    font-family: Arial;
    display:flex;
    gap:50px;
    padding:20px;
}

#boites{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.boite{
    width:100px;
    height:50px;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:grab;
}

#b1{background:red;}
#b2{background:green;}
#b3{background:blue;}

.zone{
    width:120px;
    height:80px;
    border:2px dashed black;
    margin-bottom:15px;
    display:flex;
    justify-content:center;
    align-items:center;
}